<section id="collection">
  <div class="container">
    <h2 class="collection_title">Our collection</h2>
    <ul class="collection_list">
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-1.jpg"
            alt="collection-1"
            width="380"
            height="430"
          />
          <p class="overlay">
            Discover the timeless elegance of our embroidered shirts collection.
            Each piece in our collection is meticulously crafted with intricate
            embroidery, showcasing traditional patterns and motifs inspired by
            rich cultural heritage.
          </p>
        </div>
        <div class="for_overlay">
          <h3 class="item_title">AUGUST Poltava women's blouseRING</h3>
          <p class="item_text">3300 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-2.jpg"
            alt="collection-2"
            width="380"
            height="430"
          />
          <p class="overlay">
            Made with the finest materials and attention to detail, our
            embroidered shirts blend traditional craftsmanship with modern
            style, offering a unique and versatile addition to any wardrobe.
          </p>
        </div>
        <div>
          <h3 class="item_title">Women's blouse Gorgany</h3>
          <p class="item_text">3350 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-3.jpg"
            alt="collection-3"
            width="380"
            height="430"
          />
          <p class="overlay">
            Whether you're looking for a casual shirt for everyday wear or a
            statement piece for special occasions, our collection has something
            for every taste and preference.
          </p>
        </div>
        <div>
          <h3 class="item_title">Women's blouse Crimea</h3>
          <p class="item_text">4000 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-4.jpg"
            alt="collection-4"
            width="380"
            height="430"
          />
          <p class="overlay">
            Elevate your style with the artistry and sophistication of our
            embroidered shirts, celebrating the beauty of tradition and
            craftsmanship.
          </p>
        </div>
        <div>
          <h3 class="item_title">Men's shirt Verkhovina</h3>
          <p class="item_text">3100 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-5.jpg"
            alt="collection-5"
            width="380"
            height="430"
          />
          <p class="overlay">
            Discover the timeless elegance of our embroidered shirts collection.
            Each piece in our collection is meticulously crafted with intricate
            embroidery, showcasing traditional patterns and motifs inspired by
            rich cultural heritage.
          </p>
        </div>
        <div>
          <h3 class="item_title">Mountain men's shirt</h3>
          <p class="item_text">3300 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_wrapper">
          <img
            src="./img/collection/collection-6.jpg"
            alt="collection-6"
            width="380"
            height="430"
          />
          <p class="overlay">
            Elevate your style with the artistry and sophistication of our
            embroidered shirts, celebrating the beauty of tradition and
            craftsmanship. Discover the timeless elegance of our embroidered
            shirts collection.
          </p>
        </div>
        <div>
          <h3 class="item_title">Men's shirt Yasen</h3>
          <p class="item_text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
