<section id="collection">
  <div class="container">
    <h2 class="collection_title">Our collection</h2>
    <ul class="collection_list">
      <li class="collection_item">
        <img
          src="./img/collection/collection-1.jpg"
          alt="collection-1"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">AUGUST Poltava women's blouseRING</h3>
          <p class="item_text">3300 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <img
          src="./img/collection/collection-2.jpg"
          alt="collection-2"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">Women's blouse Gorgany</h3>
          <p class="item_text">3350 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <img
          src="./img/collection/collection-3.jpg"
          alt="collection-3"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">Women's blouse Crimea</h3>
          <p class="item_text">4000 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <img
          src="./img/collection/collection-4.jpg"
          alt="collection-4"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">Men's shirt Verkhovina</h3>
          <p class="item_text">3100 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <img
          src="./img/collection/collection-5.jpg"
          alt="collection-5"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">Mountain men's shirt</h3>
          <p class="item_text">3300 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <img
          src="./img/collection/collection-6.jpg"
          alt="collection-6"
          width="380"
          height="430"
        />
        <div>
          <h3 class="item_title">Men's shirt Yasen</h3>
          <p class="item_text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
