<section id="collection">
  <h2>Our collection</h2>
  <ul>
    <li>
      <img
        src="./img/collection/collection-1.jpg"
        alt="collection-1"
        width="380"
        height="430"
      />
      <div>
        <h3>AUGUST Poltava women's blouseRING</h3>
        <p>3300 UAH</p>
      </div>
    </li>
    <li>
      <img
        src="./img/collection/collection-2.jpg"
        alt="collection-2"
        width="380"
        height="430"
      />
      <div>
        <h3>Women's blouse Gorgany</h3>
        <p>3350 UAH</p>
      </div>
    </li>
    <li>
      <img
        src="./img/collection/collection-3.jpg"
        alt="collection-3"
        width="380"
        height="430"
      />
      <div>
        <h3>Women's blouse Crimea</h3>
        <p>4000 UAH</p>
      </div>
    </li>
    <li>
      <img
        src="./img/collection/collection-4.jpg"
        alt="collection-4"
        width="380"
        height="430"
      />
      <div>
        <h3>Men's shirt Verkhovina</h3>
        <p>3100 UAH</p>
      </div>
    </li>
    <li>
      <img
        src="./img/collection/collection-5.jpg"
        alt="collection-5"
        width="380"
        height="430"
      />
      <div>
        <h3>Mountain men's shirt</h3>
        <p>3300 UAH</p>
      </div>
    </li>
    <li>
      <img
        src="./img/collection/collection-6.jpg"
        alt="collection-6"
        width="380"
        height="430"
      />
      <div>
        <h3>Men's shirt Yasen</h3>
        <p>1700 UAH</p>
      </div>
    </li>
  </ul>
</section>
