<footer id="footer">
  <div class="container">
    <ul class="nav-list">
      <li class="list-item">
        <a href="#about"> About us </a>
      </li>
      <li class="list-item">
        <a href="#collection"> Our collection </a>
      </li>
      <li class="list-item">
        <a href="#order"> CUSTOMER ORDER </a>
      </li>
      <li class="list-item">
        <a href="#testimonials"> TEstimonials </a>
      </li>
    </ul>
    <p class="footer_offer">
      A touch of <span class="footer_offer_current">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>
