<section class="hero">
  <div class="container hero-container">
    <img
      src="./img/hero/girl.jpg"
      alt="ambasador vyshyvanka"
      width="392"
      height="542"
    />

    <div class="offer">
      <h1 class="offer_title">
        Reviving the traditional
        <span class="offer_title_current">Ukrainian</span> artistry in every
        stitch.
      </h1>
      <button class="offer_btn" type="button">Order</button>
    </div>

    <div class="emblem">
      <img src="./img/icons/sun-star.svg" alt="symbol" width="52" height="51" />
      <p class="emblem_text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
