<section class="order" id="order">
  <div class="container order-container">
    <img
      class="order_img"
      src="../img/order/Rectangle 42481.jpg"
      alt="Women in dress by order"
      width="588"
      height="521"
    />
    <div class="order_wrapper">
      <h3 class="form_title">
        <span class="form_title_current">Your order</span> is our priority:
        Personalized approach and quality of service
      </h3>
      <form class="order_form">
        <label class="form_label" for="user_name"></label>
        <input
          class="form_input"
          type="text"
          name="user_name"
          id="user_name"
          placeholder="Enter your full name"
        />

        <label class="form_label" for="user_email"></label>
        <input
          class="form_input"
          type="email"
          name="user_email"
          id="user_email"
          placeholder="Enter your email"
        />

        <label class="form_label" for="user_coment"></label>
        <textarea
          class="form_message"
          name="user_coment"
          id="user_coment"
          rows="10"
          placeholder="Comments"
        ></textarea>
        <button class="offer_btn btn_current">
          Send
          <svg class="offer_btn_svg" width="27" height="17">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
