<section class="order" id="order">
  <div class="container order-container">
    <div class="order-left">
      <h3 class="order-title">
        <span class="current-color">Promotion</span> fill out the form right now
        and get it delivered for <span class="current-color">free</span>
      </h3>
      <h4 class="order-action">Until the end</h4>
      <input class="timer-input" type="text" id="datetime-picker" />
      <button class="timer_btn" type="button" data-start>Start</button>
      <div class="timer">
        <div class="field">
          <span class="field-value" data-days>00</span>
          <span class="field-label">Days</span>
        </div>
        <div class="field">
          <span class="field-value" data-hours>00</span>
          <span class="field-label">Hours</span>
        </div>
        <div class="field">
          <span class="field-value" data-minutes>00</span>
          <span class="field-label">Minutes</span>
        </div>
        <div class="field">
          <span class="field-value" data-seconds>00</span>
          <span class="field-label">Seconds</span>
        </div>
      </div>
    </div>
    <div class="order-right">
      <div class="order-form">
        <p class="order-text"></p>
      </div>
    </div>
  </div>
</section>
