.order {
  padding-top: 75px;
  padding-bottom: 75px;
}
.order-container {
  display: flex;
  background-image: url(../img/about/back.png);
  background-repeat: no-repeat;
  background-position: right calc(50% + 700px) top 165px;
}
.order_wrapper {
  margin-left: 50px;
}
.order_img {
  height: 550px;
  flex-shrink: 0;
  border-radius: 8px;
}
.form_title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: -0.03em;
}
.form_title_current {
  color: #ecd979;
}
.order_form {
  width: 508px;
  display: flex;
  flex-direction: column;
}
.form_input {
  margin-bottom: 20px;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  outline: none;

  color: rgba(252, 249, 249, 0.5);
  letter-spacing: -0.02em;
}

.form_message {
  height: 196px;
  margin-bottom: 40px;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  resize: none;
  color: rgba(252, 249, 249, 0.5);
  letter-spacing: -0.02em;
  outline: none;
}
.btn_current {
  margin-top: 0;
  margin-left: 0;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.form_input:focus,
.form_message:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}
