/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./present.css');
@import url('./order.css');
@import url('./action.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./favorite.css');

.container {
  width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
.theme {
  background-color: #fff;
  color: black;
}

/* rgba(236, 217, 121, 1); */
.banner {
  width: 100%;
  max-width: 600px; /* Максимальна ширина банера */
  margin: 0 auto; /* Центруємо банер по горизонталі */
  overflow: hidden; /* Забезпечуємо внутрішнім елементам відсутність виносів */
  border: 1px solid #ccc; /* Приклад рамки */
  border-radius: 8px; /* Округлені кути */
}

.banner-link {
  display: block; /* Робимо посилання блоковим елементом, щоб воно вміщало всю область банера */
}

.banner-img {
  width: 100%; /* Банер повністю займає ширину свого контейнера */
  height: auto; /* Автоматична висота для збереження пропорцій */
  display: block; /* Усуваємо відступи, які браузери додають для інлайн-зображень */
}
